[submodule "cpp"]
	path = cpp
	url = git@github.com:cmccandless/ExercismSolutions-cpp.git
[submodule "bash"]
	path = bash
	url = git@github.com:cmccandless/ExercismSolutions-bash.git
[submodule "csharp"]
	path = csharp
	url = git@github.com:cmccandless/ExercismSolutions-csharp.git
[submodule "go"]
	path = go
	url = git@github.com:cmccandless/ExercismSolutions-go.git
[submodule "haskell"]
	path = haskell
	url = git@github.com:cmccandless/ExercismSolutions-haskell.git
[submodule "java"]
	path = java
	url = git@github.com:cmccandless/ExercismSolutions-java.git
[submodule "javascript"]
	path = javascript
	url = git@github.com:cmccandless/ExercismSolutions-javascript.git
[submodule "powershell"]
	path = powershell
	url = git@github.com:cmccandless/ExercismSolutions-powershell.git
[submodule "prolog"]
	path = prolog
	url = git@github.com:cmccandless/ExercismSolutions-prolog.git
